<div class="page-container">

<h1 class="page-title">Registro</h1>

<form name="form" [formGroup]="form" novalidate>
    
    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Nombre</mat-label>
            <input matInput class="form-input" formControlName="name" placeholder="Juan">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Apellido</mat-label>
            <input matInput class="form-input" formControlName="surname" placeholder="Juanes">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput class="form-input" formControlName="birthDate" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Usuario</mat-label>
            <input matInput class="form-input" formControlName="username" placeholder="xXJuanJuanesXx">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Contraseña</mat-label>
            <input type="password" matInput class="form-input" formControlName="password" placeholder="Juancito12345678">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Confirmar Contraseña</mat-label>
            <input type="password" matInput class="form-input" formControlName="confirmPassword" placeholder="Juancito12345678">
    </mat-form-field>

    <button color="primary" mat-raised-button [disabled]="!form.valid" (click)="sendData()">
    CONFIRMAR
    </button>

</form>

</div>
