<div (click)="viewProduct()" class="container">
    <div class="product">
        <img class="product-image" [src]="product.imageUrl" (error)="handleImageError()">
        <b class="product-name">{{ (product.name.length > 20) ? (product.name | slice:0:20) + '...' : (product.name) }}</b>
        <p class="product-description">{{ ((product.description?.length > 80) ? (product.description | slice:0:80) + '...' : (product.description)) || "El producto no tiene descripción" }}</p>
    </div>
    <div class="product-price">
        <b>${{ product.price | number : '1.2-2' }}</b>
    </div>
</div>