<div class="page-container"> 

    <h1 class="page-title">Tienda</h1>

    <div class="products-container">    
        <div *ngFor="let product of products">
            <div class="product">
                <img [src]="product.imageUrl" class="product-image">
                <b class="product-name">{{ (product.name.length > 20) ? (product.name | slice:0:20) + '...' : (product.name) }}</b>
                <p class="product-description">{{ (product.description.length > 80) ? (product.description | slice:0:80) + '...' : (product.description) }}</p>
            </div>
        </div>
    </div>

    <div class="buttons-container">
    <button mat-raised-button color="primary"> < </button>
    <button mat-raised-button color="primary"> > </button>
    </div>

</div>

