<div class="page-container">

<h1 class="page-title">Inicio de Sesión</h1>

<form name="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="sendData(formDirective)" novalidate>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Email*</mat-label>
            <input matInput class="form-input" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Contraseña*</mat-label>
            <input type="password" matInput class="form-input" formControlName="password">
    </mat-form-field>

    <button type="submit" color="primary" mat-raised-button [disabled]="!form.valid">
    CONFIRMAR
    </button>

</form>

</div>
