<div class="page-container">

<h1 class="page-title">Inicio de Sesión</h1>

<form name="form" [formGroup]="form" novalidate>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Usuario</mat-label>
            <input matInput class="form-input" formControlName="username">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>Contraseña</mat-label>
            <input type="password" matInput class="form-input" formControlName="password">
    </mat-form-field>

    <button color="primary" mat-raised-button [disabled]="!form.valid" (click)="sendData()">
    CONFIRMAR
    </button>

</form>

</div>
